<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Image</title>
</head>
<body>
  <% if (imageLink) { %>
    <img src="<%= imageLink %>" alt="Uploaded Image">
  <% } else { %>
    <p>Image not found.</p>
  <% } %>
</body>
</html>
